@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/ibm-plex-mono-v19-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/ibm-plex-mono-v19-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ibm-plex-mono-v19-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ibm-plex-mono-v19-latin-100.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/ibm-plex-mono-v19-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/ibm-plex-mono-v19-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ibm-plex-mono-v19-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-100italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ibm-plex-mono-v19-latin-100italic.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/ibm-plex-mono-v19-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/ibm-plex-mono-v19-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ibm-plex-mono-v19-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ibm-plex-mono-v19-latin-200.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/ibm-plex-mono-v19-latin-200italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/ibm-plex-mono-v19-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ibm-plex-mono-v19-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-200italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ibm-plex-mono-v19-latin-200italic.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/ibm-plex-mono-v19-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/ibm-plex-mono-v19-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ibm-plex-mono-v19-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ibm-plex-mono-v19-latin-300.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/ibm-plex-mono-v19-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/ibm-plex-mono-v19-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ibm-plex-mono-v19-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ibm-plex-mono-v19-latin-300italic.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ibm-plex-mono-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/ibm-plex-mono-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ibm-plex-mono-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ibm-plex-mono-v19-latin-regular.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/ibm-plex-mono-v19-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/ibm-plex-mono-v19-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ibm-plex-mono-v19-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ibm-plex-mono-v19-latin-italic.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/ibm-plex-mono-v19-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/ibm-plex-mono-v19-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ibm-plex-mono-v19-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ibm-plex-mono-v19-latin-500.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/ibm-plex-mono-v19-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/ibm-plex-mono-v19-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ibm-plex-mono-v19-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ibm-plex-mono-v19-latin-500italic.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/ibm-plex-mono-v19-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/ibm-plex-mono-v19-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ibm-plex-mono-v19-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ibm-plex-mono-v19-latin-600.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/ibm-plex-mono-v19-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/ibm-plex-mono-v19-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ibm-plex-mono-v19-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ibm-plex-mono-v19-latin-600italic.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ibm-plex-mono-v19-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/ibm-plex-mono-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ibm-plex-mono-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ibm-plex-mono-v19-latin-700.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/ibm-plex-mono-v19-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/ibm-plex-mono-v19-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ibm-plex-mono-v19-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ibm-plex-mono-v19-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ibm-plex-mono-v19-latin-700italic.svg#\1') format('svg'); /* Legacy iOS */
}
